<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo>

        <plugin
            filename="gz-sim-diff-drive-system"
            name="gz::sim::systems::DiffDrive">

            <left_joint>wheel3_joint</left_joint>
            <left_joint>wheel4_joint</left_joint>

            <right_joint>wheel1_joint</right_joint>
            <right_joint>wheel2_joint</right_joint>

            <wheel_separation>0.5</wheel_separation>
            <wheel_radius>0.05</wheel_radius>

            <topic>/police/cmd_vel</topic>

        </plugin>

    </gazebo>

    <gazebo reference="pols_camera">
        <sensor name="camera" type="camera">
            <pose>0 0 0 0 0 0</pose>
            <always_on>true</always_on>
            <update_rate>30.0</update_rate>
            <visualize>true</visualize>
            <topic>/police/camera/image</topic>
            <camera>
                <horizontal_fov>1.089</horizontal_fov>
                <image>
                    <width>640</width>
                    <height>480</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.05</near>
                    <far>8.0</far>
                </clip>
            </camera>
        </sensor>
    </gazebo>

    <gazebo reference="catch">
        <sensor name="contact_sensor" type="contact">
            <always_on>true</always_on>
            <update_rate>30</update_rate>
            <contact>
                <collision>base_link_fixed_joint_lump__busted_collision_1</collision>
            </contact>
        </sensor>
    </gazebo>


</robot>