<?xml version="1.0"?>

<robot name="tuktuk" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="properties.xacro"/>
    <xacro:include filename="materials.xacro"/>
    <xacro:include filename="macros.xacro"/>
    <xacro:include filename="gazebo.xacro"/>

    <link name="chassis">
        <xacro:box_inertial mass="${chassis_mass}"
                            x="${chassis_l}"
                            y="${chassis_w}"
                            z="${chassis_h}"/>
        <visual>
            <geometry>
                <box size="${chassis_l} ${chassis_w} ${chassis_h}"/>
            </geometry>
            <material name="white"/>
        </visual>
        <collision>
            <geometry>
                <box size="${chassis_l} ${chassis_w} ${chassis_h}"/>
            </geometry>
        </collision>
    </link>

    <link name="stand">
        <xacro:zero_inertial/>
        <visual>
            <geometry>
                <cylinder radius="0.01" length='0.5'/>
            </geometry>
            <material name="white" />
        </visual>
        <collision>
            <geometry>
                <cylinder radius="0.01" length='0.5'/>
            </geometry>
        </collision>
    </link>
    <joint name="stand_joint" type="fixed">
        <parent link="chassis"/>
        <child link="stand"/>
        <origin rpy="0 0 0" xyz="0 0 0.28"/>
    </joint>

    <link name="thief_camera">
        <xacro:zero_inertial/>
        <visual>
            <geometry>
                <sphere radius="0.05" />
            </geometry>
            <material name="blue" />
        </visual>
        <collision>
            <geometry>
                <sphere radius="0.06" />
            </geometry>
        </collision>
    </link>
    <joint name="cam_joint" type="fixed">
        <parent link="stand"/>
        <child link="thief_camera"/>
        <origin rpy="0 0 0" xyz="0 0 0.25"/>
    </joint>

    <xacro:main_assembly/>

</robot>